*, * : : after, * : : before{
    box-sizing: border-box;
}

html, body {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 62.5%;
    font-weight: normal;
    background: linear-gradient(to right top, #060606,#050504,#030303,#000000);
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
button, input {
    outline: none;
    border: none;
    cursor: pointer;

}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.container {
    width:  130rem; 
    margin: 0 auto;
}
:root{
    --text-size-medium: 1.6rem;
}
.block_center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: #ffffff;
}
.header{
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    width: 100%;
    left: 50%;
    z-index: 10;
    padding: 4rem 8rem 4rem 11rem;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.header_menu {
    display: flex;
    align-items: center;
}
.header_nav a:not(:last-child) {
    margin-right: 7.1rem;
}
.header_nav  {
    font-size: var(--text-size-medium);
    line-height: 150%;

}
.header_logo {
    display: block;
    width: 4rem;
    height: 4rem;
}
.header_button {
    margin-left: 55.3rem;
    background: linear-gradient(90deg,rgba(200, 154, 252, 1) 0%, rgba(124, 106, 250, 1) 100%);
    font-size: 1.6rem;
    line-height: 150%;
}
.main_display_background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.main_display {
    padding-top: 27rem;
}
.main_display .container {
    position: relative;
    z-index: 10;
    padding: 0 0 22.8rem 0;
}
.main_display_header{
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 140%;
}
.main_display_timer {
    display: flex;
    margin-bottom: 7.6rem;
}
.main_display_button {
    background: linear-gradient(90deg,rgba(223, 89, 80, 1) 0%, rgba(69, 16, 70, 1) 100%);
    font-size: 1.6rem;
    line-height: 150%;
}
.timer_item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/
}
.timer_item:not(:last-child) {
    margin-right: 3rem;
}
.timer_count {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 140%;
}
.timer_text {
    font-size: 1.6rem;
    line-height: 140%;
    opacity: 0.4;
}
.work{
    padding: 20rem 0 24.3rem 0;
}
.work_wrap {
    display: flex;
}
.work_image {
    width: 52.6rem;
    height: 49.9rem;
    margin-right: 13.9rem;
}
.work_text {
    max-width: 63.6rem;
    padding: 6.9rem 0 0 0;
}
.work_header {
    margin: 0 0 4.5rem 0;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 140%;
}
.work_description {
    font-size: 1.6rem;
    line-height: 160%;
}
.process{
    position: relative;
    padding-bottom: 20rem;
}
.process_title {
    display: flex;
}
.process .process_img {
    transform: rotate(45deg);
}
.process_img{
    width: 9rem;
    height: 4.5rem;
    margin-right: 2rem;
}
.process_header {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 140%;
    margin: 0 0 4.9rem 0;
    padding-top: 1rem;
}
.process_description {
    max-width: 41.1rem;
    margin-bottom: 8rem;
    font-size: 1.6rem;
    line-height: 160%;
    opacity: 0.5;
}
.process_columns {
    display: flex;
}
.process_columns::after{
    content: "";
    display: block;
    width: 130rem;
    height: 0.2rem;
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg,rgba(200, 154, 252, 1) 0%, rgba(124, 106, 250, 1) 100%);

}
.process_item {
    max-width: 30.6rem;
}
.process_work {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 150%;
    margin-bottom: 6.5rem;
}
.process_text {
    font-size: 1.4rem;
    line-height: 160%;
    opacity: 0.5;
}
.command_title {
    margin-bottom: 11rem;
}
.comand_header {
    margin-bottom: 0;
}
.command_wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 11rem 20rem 11rem;
}
.command_img{
    width: 19rem;
    height: 19rem;
    margin: 0 0 4rem 0;
    border-radius: 50%;
}
/* .command_item{
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.command_name {
   margin: 0 0 1.5rem 0;
   font-size: 2.4rem;
    font-weight: 500;
    line-height: 140%;
}
.command_profession {
    margin: 0 0 3rem 0;
    font-size: 1.6rem;
    line-height: 140%;
    opacity: 0.5;
}

.command_link {
    font-size: 1.6rem;
    display: flex;
    line-height: 150%;
    border: #ffffff 0.1rem solid;
}

.assembly{
    padding: 0 0 24.4rem 0;
}

/* .assembly_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} */

.assembly_header {
    margin: 0 0 3rem 0; 
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 140%;
}
 
.assembly_description {
    margin: 0 0 4.2rem 0;
    font-size: 1.6rem;
    line-height: 160%;
}
.assembly_button {
    margin: 0 0 5.8rem 0;
    font-size: 1.6rem;
    line-height: 150%;
    background: linear-gradient(90deg,rgba(223, 89, 80, 1) 0%, rgba(69, 16, 70, 1) 100%);
    
}

.assembly_socials {
    display: flex;
}

.assembly_item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,rgba(200, 154, 252, 1) 0%, rgba(124, 106, 250, 1) 100%);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
} 
.assembly_item img {
    width: 50%;
    height: 50%;    
}
.assembly_item:not(:last-child){
    margin-right: 3rem;
}
