*, * : : after, * : : before{
    box-sizing: border-box;
}

html, body {
    color: #ffffff;
    font-size: 62.5%;
    font-weight: normal;
    background: linear-gradient(to right top, #060606,#050504,#030303,#000000);
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
button, input {
    outline: none;
    border: none;
    cursor: pointer;

}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.container {
    width:  130rem; 
    margin: 0 auto;
}
.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: #ffffff;
}
.header{
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    width: 100%;
    left: 50%;
    z-index: 10;
    padding: 4rem 8rem 4rem 11rem;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.header_menu {
    display: flex;
    align-items: center;
}
.header_nav a:not(:last-child) {
    margin-right: 7.1rem;
}
.header_nav  {
    font-size: 1.6rem;
}
.header_logo {
    display: block;
    width: 4rem;
    height: 4rem;
}
.header_button {
    margin-left: 55.3rem;
    background: linear-gradient(90deg,rgba(200, 154, 252, 1) 0%, rgba(124, 106, 250, 1) 100%);
    font-size: 1.6rem;
}
.main_display_background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.main_display {
    padding-top: 27rem;
}
.main_display .container {
    position: relative;
    z-index: 10;
}
.main_display_header{
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
}
.main_display_timer {
    display: flex;
    margin-bottom: 7.6rem;
}
.main_display_button {
background: linear-gradient(90deg,rgba(223, 89, 80, 1) 0%, rgba(69, 16, 70, 1) 100%);
    font-size: 1.6rem;
}
.timer_item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.timer_item:not(:last-child) {
    margin-right: 3rem;
}
.timer_count {
    font-size: 3.6rem;
}
.timer_text {
    font-size: 1.6rem;
    opacity: 0.4;
}
